.add-student-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: auto;
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
}

.add-student-form-container button {
  border: 1px solid white;
  margin-right: 20px;
}