@media screen and (max-width: 360px) {
  .period-filter-select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
    padding: 5px;
    border-radius: 5px;
  }

  .period-filter-select-container h5 {
    margin: 0px;
    padding: 0px;
  }

  .period-filter-select {
    width: 175px;
    height: 25px;
    display: flex;
    justify-content: center;
    padding: 2px 0px 2px 0px;
    font-size: 10px;
    border: 1px solid black;
  }
}

@media screen and (min-width: 361px) {
  .period-filter-select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
    padding: 5px;
    border-radius: 5px;
  }

  .period-filter-select-container h5 {
    margin: 0px;
    padding: 0px;
  }

  .period-filter-select {
    width: 175px;
    height: 25px;
    display: flex;
    justify-content: center;
    padding: 2px 0px 2px 0px;
    font-size: 10px;
    border: 1px solid black;
  }
}