/* MOBILE DIMENSIONS */
@media screen and (min-width: 100px) {
  .student-row {
    display: flex;
    justify-content: space-between;
    height: 250px;
    margin-bottom: 10px;
    border: 1px solid red;
    background-color: rgb(235, 249, 255);
  }

  .student-row h2 {
    font-size: 14px;
    background-color: aquamarine;
  }

  .student-info {
    font-size: 10px;
  }

  .right-box {
    width: 40%;
    border: 1px solid red;
  }

  .period-select-container {
    display: flex;
    /* align-items: flex-end; */
    /* justify-content: center; */
    width: 100px;
    height: 25px;
    font-size: 10px;
  }
  
  .period-select {
    display: flex;
    /* align-items: flex-end; */
    /* justify-content: center; */
    font-size: 10px;
  }
  
  .image-container {
    width: 200px;
    height: 250px;
    border: 1px solid red;
  }
  
  .avatar-img {
    width: 150px;
    height: 150px;
  }
  
  .list-of-students-periods {
    height: 90%;
    font-size: 10px;
    border: 1px solid red;
  }
}

/* DESKTOP DIMENSIONS */
@media screen and (min-width: 1224px) {
  .student-row {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 25px;
    border: 1px solid rgba(132, 220, 255, 0.253);
    border-radius: 5px;
    padding: 0px 0px 0px 0px;
    list-style-type: none;
    font-size: 10px;
    background-color: rgb(235, 249, 255);
  }

  .student-row h2 {
    margin: 0px;
    padding: 10px;
    background-color: aquamarine;
  }

  .student-info {
    width: 198px;
    border: 1px solid orange;
  }

  .period-select-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
  }

  .period-select {
    display: flex;
    width: 125px;
    height: 25px;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    width: 200px;
    height: 250px;
    border: 1px solid red;
  }
  
  .avatar-img {
    width: 150px;
    height: 150px;
  }

  .list-of-students-periods {
    width: 100%;
    height: 88%;
    border: 1px solid red;
  }
}