/* MOBILE DIMENSIONS */
@media screen and (min-width: 100px) {
  .student-row {
    display: flex;
    justify-content: space-around;
    height: 250px;
    margin-bottom: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    opacity: 0.9;
  }

  .student-row h2 {
    padding: 5px;
    font-size: 14px;
    background-color: #193044;
  }

  .student-info {
    font-size: 10px;
  }

  .right-box {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 40%;
    height: 90%;
    margin-top: 5px;
    /* border: 1px solid red; */
  }

  .period-select-container {
    /* display: flex; */
    position: relative;
    /* align-items: center; */
    width: 100px;
    height: 25px;
    margin: 0 auto;
    font-size: 10px;
    color: black;
  }
  
  .period-select {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2px 0px 2px 0px;
    font-size: 10px;
    border: 1px solid black;
  }

  .period-select option {
    text-align: center;
  }
  
  .image-container {
    width: 200px;
    height: 250px;
    /* border: 1px solid red; */
  }
  
  .avatar-img {
    width: 150px;
    height: 150px;
  }
  
  .list-of-students-periods {
    height: 90%;
    font-size: 10px;
    color: black;
    /* border: 1px solid red; */
  }
}

/* DESKTOP DIMENSIONS */
@media screen and (min-width: 1224px) {
  .student-row {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 25px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /* border: 1px solid rgba(132, 220, 255, 0.253); */
    border-radius: 5px;
    padding: 0px 0px 0px 0px;
    list-style-type: none;
    font-size: 10px;
    /* background-color: rgb(235, 249, 255); */
  }

  .student-row h2 {
    margin: 0px;
    padding: 10px;
    background-color: #193044;
  }

  .right-box {
    width: 40%;
    height: 90%;
    margin-top: 5px;
    /* border: 1px solid red; */
  }


  .student-info {
    margin-top: 5px;
    width: 198px;
    /* border: 1px solid orange; */
  }

  .period-select-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
  }

  .period-select {
    display: flex;
    width: 125px;
    height: 25px;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    width: 200px;
    height: 250px;
    /* border: 1px solid red; */
  }
  
  .avatar-img {
    width: 150px;
    height: 150px;
  }

  .list-of-students-periods {
    width: 100%;
    height: 88%;
    /* border: 1px solid red; */
  }
}