/* MOBILE */
@media screen and (max-width: 400px) {
  .student-row {
    
  }
  
  .image-container {
    
  }

  .avatar-img {

  }

  .student-row h2 {
    
  }

  .delete-student-button {
    
  }

  .right-box {
    
  }

  .period-select-container {
   
  }
  
  .period-select {
    
  }

  .period-select option {
    
  }
  
  .list-of-students-periods {
    
  }
}


/*
@media screen and (min-width: 100px) {
  .student-row {
    display: flex;
    justify-content: space-around;
    height: 250px;
    margin-bottom: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    opacity: 0.9;
  }

  .student-row h2 {
    padding: 5px;
    font-size: 14px;
    background-color: #193044;
  }

  .delete-student-button {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }

  .student-info {
    font-size: 10px;
  }

  .right-box {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 90%;
    margin-top: 5px;
  }

  .period-select-container {
    position: relative;
    width: 100px;
    height: 25px;
    margin: 0 auto;
    font-size: 10px;
    color: black;
  }
  
  .period-select {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2px 0px 2px 0px;
    font-size: 10px;
    border: 1px solid black;
  }

  .period-select option {
    text-align: center;
  }
  
  .image-container {
    width: 200px;
    height: 250px;
  }
  
  .avatar-img {
    width: 150px;
    height: 150px;
  }
  
  .list-of-students-periods {
    height: 90%;
    font-size: 10px;
    color: black;
  }
}

@media screen and (min-width: 1224px) {
  .student-row {
    display: flex;
    justify-content: space-around;
    width: 45%;
    margin: 0 auto;
    margin-bottom: 25px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 5px;
    padding: 0px 0px 0px 0px;
    list-style-type: none;
    font-size: 10px;
  }

  .student-row h2 {
    margin: 0px;
    padding: 10px;
    background-color: #193044;
  }

  .delete-student-button {
    width: 25px;
    height: 25px;
    margin-top: 10px;
  }

  .right-box {
    width: 40%;
    height: 90%;
    margin-top: 5px;
  }


  .student-info {
    margin-top: 5px;
    width: 198px;
  }

  .period-select-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .period-select {
    display: flex;
    width: 125px;
    height: 25px;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    width: 200px;
    height: 250px;
  }
  
  .avatar-img {
    width: 150px;
    height: 150px;
  }

  .list-of-students-periods {
    width: 100%;
    height: 88%;
  }
}
*/