/* MOBILE DIMENSIONS */
@media screen and (max-width: 400px) {
  .student-list-container {
   
  }
  
  .student-list {
    
  }

  .student-info h3 {
   
  }

  .delete-period-button {
    
  }
}

/* DESKTOP DIMENSIONS */
/*
@media screen and (min-width: 1224px) {
  .student-list-container {
    display: flex;
    width: 100%;
  }

  .student-list {
    width: 100%;
    padding: 0px;
  }

  .delete-period-button {
    width: 23px;
    height: 23px;
    margin-left: 15px;
  }
}
*/