/* MOBILE DIMENSIONS */
@media screen and (min-width: 100px) {
  .student-list-container {
    display: flex;
    width: 100%;
  }
  
  .student-list {
    width: 100%;
    padding: 0px;
  }

  .student-info h3 {
    color: black;
  }
}

/* DESKTOP DIMENSIONS */
@media screen and (min-width: 1224px) {
  .student-list-container {
    display: flex;
    width: 100%;
  }

  .student-list {
    width: 100%;
    padding: 0px;
  }
}