@media only screen and (max-width: 400px) {
  .container {
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
  }

  .container h1 {
    margin: 0;
    padding: 20px;
    width: 100%;
    font-size: 25px;
    color: white;
    border-bottom: 1px solid black;
  }

  .logout-button {
    position: absolute;
    width: 200px;
    height: 25px;
    top: 0px;
    right: 0px;
  }

  .teacher-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    background-color: #11202e;
    color: #cccccc;
  }
}

/*
@media only screen and (max-width: 600px) {container {
    width: 100%;
    display: flex;
  }

  .logout-button { position: absolute;
    width: 100px;
    height: 25px;
    top: 0px;
    right: 0px;
    background: white;
  }

  .teacher-controls {
    display: flex;
    flex-direction: column;
    width: 98%;
  }
}
*/