@media screen and (min-width: 300px) {
  .user-login-form {
    display: inline-block;
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    border-top: 1px solid #69768c;
    border-left: 1px solid #69768c;
    border-right: 1px solid #69768c;
  }

  .user-login-form input {
    width: 100px;
  }


  .user-login-form button {
    margin-top: 5px;
  }

}

/* DESKTOP DIMENSIONS */
@media screen and (min-width: 1224px) {
  .user-login-form {
    display: inline-block;
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    border-top: 1px solid #69768c;
    border-left: 1px solid #69768c;
    border-right: 1px solid #69768c;
  }

  .user-login-form input {
    width: 125px;
  }

  .user-login-form button {
    margin-top: 5px;
  }
}