@media screen and (max-width: 360px) {
  .user-login-form {
    display: inline-block;
    flex-direction: column;
    width: 150px;
    background-color: #cccccc;
  }

  .user-login-form h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    background-color: #11202e;
    color: #cccccc;
    border-bottom: 1px solid #cccccc;
  }

  .user-login-form input {
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
  }

  .user-login-form button {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    border: 1px solid black;
  }
}

/*
@media screen and (min-width: 1224px) {
  .user-login-form {
    display: inline-block;
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    border-top: 1px solid #69768c;
    border-left: 1px solid #69768c;
    border-right: 1px solid #69768c;
  }

  .user-login-form input {
    width: 125px;
  }

  .user-login-form button {
    margin-top: 5px;
  }
}
*/