@media only screen and (max-width: 400px) {
  .app_container {
    width: 100%;
    margin: 0 auto;
  }

  .app-container h1 {
    margin: 0;
    padding: 20px;
    width: 100%;
    font-size: 25px;
    color: white;
    border-bottom: 1px solid black;
  }

  .logout-button {
    position: absolute;
    width: 200px;
    height: 25px;
    top: 0px;
    right: 0px;
  }

  .teacher-controls {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
  }
}

/*
@media only screen and (max-width: 600px) {
  .app_container {
    width: 100%;
    display: flex;
  }

  .logout-button {
    position: absolute;
    width: 100px;
    height: 25px;
    top: 0px;
    right: 0px;
    background: white;
  }

  .teacher-controls {
    display: flex;
    flex-direction: column;
    width: 98%;
  }
}
*/