.app_container {
  width: 100%;
}

.app-container h1 {
  margin: 0;
  background-color: #0061ff;
  padding: 20px;
  width: 100%;
  color: #93bcff;
  /* border: 1px solid red; */
}

.period-filter-select-container {
  width: 200px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.period-filter-select {
  width: 125px;
  height: 25px;
}

/* MOBILE DIMENSIONS */
@media only screen and (max-width: 320px) {
  .app_container {
    width: 100%;
  }

  

}